@model GestionPlanning.Models.Grades

@{
    ViewBag.Title = "Détails";
}

<h2>Détails</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Armes.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Armes.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diminutif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diminutif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Etat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Page précédente", "Index")
</p>
