@model GestionPlanning.Models.TypeActivites

@{
    ViewBag.Title = "Supprimer";
}

<h2>Supprimer</h2>

<h3>Etes vous sur de vouloir effacer cet élément?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Couleurs.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Couleurs.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifierRepas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifierRepas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Etat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etat)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.ActionLink("Page précédente", "Index")
        </div>
    }
</div>
