@model IEnumerable<GestionPlanning.Models.Mails>

@{
    ViewBag.Title = "Index des mails";
}

<h2>Index des mails</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomUnique)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Objet)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomUnique)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Objet)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id=item.Id })
        </td>
    </tr>
}

</table>
