@model GestionPlanning.Models.Armes

@{
    ViewBag.Title = "Détails d'une arme";
}

<h2>Détails d'une arme</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Etat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsRtt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsRtt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPcp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPcp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Page précédente", "Index")
</p>
