@model GestionPlanning.Models.Utilisateurs

@{
    ViewBag.Title = "Modifier un mot de passe";
}

<h2>Modifier un mot de passe</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <script>
        $(document).ready(function () {
            $('#saveButton').click(function () {
                $(this).prop("disabled", true);
                if (!$('form').valid())
                {
                    $(this).prop("disabled",false);
                    return false;
                }
                $('form').submit();
            });
        });
    </script>

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Email)
        @Html.HiddenFor(model => model.Nom)
        @Html.HiddenFor(model => model.Prenom)
        @Html.HiddenFor(model => model.GradesId)
        @Html.HiddenFor(model => model.PolesId)
        @Html.HiddenFor(model => model.Role)
        @Html.HiddenFor(model => model.Nid)
        @Html.HiddenFor(model => model.Pnia)

        <div class="form-group">
            <b>Ancien mot de passe</b>
            <div>
                @Html.PasswordFor(model => model.MotDePasse, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MotDePasse, "", new {@class = "text-danger"})
            </div>

            <br />
            <div>
                <b>Nouveau mot de passe</b><br />
                <input type="password" name="mdpA" class="form-control"/>
                @Html.ValidationMessage("mdpA", "", new { @class = "text-danger" })
            </div>
                <br />
            <div>
                <b>Confirmation</b><br />
                <input type="password" name="mdpB" class="form-control"/>
                @Html.ValidationMessage("mdpB", "", new { @class = "text-danger" })
            </div>
                <br />
        </div>


        <div class="form-group">
                <input type="submit" value="Modifier" class="btn btn-default" id="saveButton"/>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Page précédente", "ChangeInfoPerso")
</div>
