@model GestionPlanning.Models.Utilisateurs

@{
    ViewBag.Title = "Créer un utilisateur";
}

<h2>Ajouter un utilisateur</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Etat)
        @Html.HiddenFor(model => model.MotDePasse)

        <div class="form-group">
            @Html.LabelFor(model => model.Email)
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nom)
                @Html.TextBoxFor(model => model.Nom, new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Prenom)
                @Html.TextBoxFor(model => model.Prenom, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.Prenom, "", new {@class = "text-danger"})
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nid)
                @Html.TextBoxFor(model => model.Nid, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.Nid, "", new {@class = "text-danger"})
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pnia)
                @Html.TextBoxFor(model => model.Pnia, new { @class = "form-control", style = "width:80px;" } )
                @Html.ValidationMessageFor(model => model.Pnia, "", new { @class = "text-danger" })
        </div>

        <script>

            function ChangeArme(id) {
                var url = '@Url.Action("ChangeArme", "Utilisateurs")';

                $.ajax(
                {
                    url: url,
                    data: { id : id},
                    type: "POST",
                    success:
                        function (view) {
                            $("#ListboxGrade").selectedIndex = -1;
                            $("#ListboxGrade").empty();
                            $.each(view, function (index) {
                                $('#ListboxGrade').append($('<option>', {
                                    value: view[index]["Id"],
                                    text: view[index]["Nom"]
                                }));
                            });
                        }
                }
                );
            }
        </script>

        <div class="form-group">
            @Html.LabelFor(model => model.ArmesId, "Armes" )
                @Html.DropDownList("ArmesId", null, new { @class = "form-control", onchange= "ChangeArme(this.value)" })
                @Html.ValidationMessageFor(model => model.ArmesId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GradesId, "Grades")
                @Html.DropDownList("GradesId", null, new { @class = "form-control", id= "ListboxGrade" })
                @Html.ValidationMessageFor(model => model.GradesId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Role)
                @Html.EnumDropDownListFor(model => model.Role,null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PolesId, "Poles")
                @Html.DropDownList("PolesId", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PolesId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
                <input type="submit" value="Ajouter" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Page précédente", "Index")
</div>
